<!-- <div class="flex justify-between mb-3">
    <custom-input-search></custom-input-search>
    <custom-button [name]="'Ajouter un contrat'"></custom-button>
</div>


<custom-table [columns]="columns" [data]="(contracts$ | async) || []"></custom-table>

<custom-modal *ngIf="true">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor modi id quos. Voluptatum, enim cupiditate qui optio
    commodi error sapiente quos in cum est quam quo voluptas officiis sed tempore?
</custom-modal> -->

<custom-basic-crud [basicCrudParams]="basicCrudParams">

</custom-basic-crud>