<div class="tw-flex tw-flex-col tw-gap-2">
    <ng-container *ngFor="let option of options">
        <div class="tw-flex tw-items-center">
            <input type="radio" [formControl]="control" [id]="option.value" [value]="option.value" [name]="name"
                [disabled]="disabled" class="tw-w-4 tw-h-4 tw-rounded-full tw-border {{ radioClass }}" />
            <label [for]="option.value" class="tw-ml-2 tw-text-sm {{ labelClass }}">
                {{ option.label }}
            </label>
        </div>
    </ng-container>
</div>