<section class="tw-relative tw-bg-gray-50 dark:tw-bg-gray-900">
    <!-- Video Background -->
    <video autoplay muted loop playsinline class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-cover">
        <source src="../../../../assets/videos/video_background_login.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Overlay to darken the video for better readability of the login content -->
    <div class="tw-absolute tw-inset-0 tw-bg-black tw-opacity-60"></div>

    <!-- Login Content -->
    <div
        class="tw-relative tw-flex tw-flex-col tw-items-center tw-justify-center tw-px-6 tw-py-8 tw-mx-auto md:tw-h-screen lg:tw-py-0">
        <a href="#"
            class="tw-flex tw-items-center tw-mb-6 tw-text-2xl tw-font-semibold tw-text-gray-900 dark:tw-text-white">
            <img class="tw-w-8 tw-h-8 tw-mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
                alt="logo">
            GesEmploy
        </a>
        <div
            class="tw-w-full tw-bg-white tw-rounded-lg tw-shadow dark:tw-border md:tw-mt-0 sm:tw-max-w-md xl:tw-p-0 dark:tw-bg-gray-800 dark:tw-border-gray-700">
            <div class="tw-p-6 tw-space-y-4 md:tw-space-y-6 sm:tw-p-8">
                <h1
                    class="tw-text-xl tw-font-bold tw-leading-tight tw-tracking-tight tw-text-gray-900 md:tw-text-2xl dark:tw-text-white">
                    Connectez-vous !
                </h1>
                <form [formGroup]="form" class="tw-space-y-4 md:tw-space-y-6" action="#">
                    <custom-input [formControlName]="'username'" [label]="'Username'" [formGroup]="form"
                        [type]="'text'">
                    </custom-input>
                    <custom-input [formControlName]="'password'" [label]="'Password'" [formGroup]="form"
                        [type]="'password'">
                    </custom-input>

                    <div class="tw-flex tw-items-center tw-justify-between">
                        <div class="tw-flex tw-items-start">
                            <div class="tw-flex tw-items-center tw-h-5">
                                <!-- <input id="remember" aria-describedby="remember" type="checkbox"
                                    class="tw-w-4 tw-h-4 tw-border tw-border-gray-300 tw-rounded tw-bg-gray-50 focus:tw-ring-3 focus:tw-ring-primary-300 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:focus:tw-ring-primary-600 dark:tw-ring-offset-gray-800"
                                    required="">
                            </div>
                            <div class="tw-ml-3 tw-text-sm">
                                <label for="remember" class="tw-text-gray-500 dark:tw-text-gray-300">Remember me</label>
                            </div> -->
                                <custom-checkbox [label]="'Remember me'"></custom-checkbox>
                            </div>
                        </div>
                        <a href="#"
                            class="tw-text-sm tw-font-medium tw-text-primary-600 hover:tw-underline dark:tw-text-primary-500">Forgot
                            password?</a>
                    </div>
                    <div class="tw-mt-6 tw-w-full">
                        <custom-button (click)="login()" [fullWidth]="true" [size]="'small'" [borderRadius]="'full'"
                            [label]="'Login'" [color]="'orange'" [isSubmitted]="isSubmitted">
                        </custom-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>