<button [type]="type" [disabled]="disabled || isSubmitted" [ngClass]="getButtonClasses()">

  <!-- 'tw-bg-' + getColorVariant(variant), -->
  <ng-container *ngIf="icon && iconPosition === 'left'">
    <i [class]="icon" aria-hidden="true" class="tw-mr-2"></i>
  </ng-container>

  <span *ngIf="!isSubmitted">{{ label }}</span>
  <span *ngIf="isSubmitted">Loading...</span>

  <ng-container *ngIf="icon && iconPosition === 'right'">
    <i [class]="icon" aria-hidden="true" class="tw-ml-2"></i>
  </ng-container>
</button>