<!-- <custom-table></custom-table> -->

<!-- <div *ngIf="users$ | async as usersList; else loading">
    <ul>
        <li *ngFor="let user of usersList">
            {{ user.name }} - {{ user.email }}
        </li>
    </ul>
</div>

<ng-template #loading>
    <p>Loading users...</p>
</ng-template> -->

<custom-modal [isOpen]="isModalOpen" [header]="'Titre du Modal'" [footerButtons]="[
    { label: 'Enregistrer', action: saveAction.bind(this) },
  ]" (close)="closeModal()">
    <app-edit-user></app-edit-user>
</custom-modal>

<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Liste des Utilisateurs</h1>
    <button (click)="openModal()" class="bg-blue-500 text-white py-2 ms-auto px-4 rounded hover:bg-blue-600">
        Ajouter un utilisateur
    </button>
    <custom-table [badgeConfig]="badgeConfig" [data]="(users$ | async) || []" [columns]="columns" [loading]="loading"
        [itemsPerPage]="itemsPerPage" [noDataMessage]="noDataMessage" (refresh)="refreshData()" [showIndex]="true"
        [showCheckbox]="true" [actionButtons]="actionButtons"
        (selectionChange)="onSelectionChange($event)"></custom-table>
</div>